*.swp
*.swo
cross_reference/*
docs_build/*
docs_output/*
doc/*
build/*
flake.lock
result

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
devenv.lock

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
